<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<title>
		Anonymous user page
	</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src='https://use.fontawesome.com/edaf3f6eda.js'></script> 
    <link rel="stylesheet" href="styles.css" type="text/css"/>
</head>
<body>
 	<div class='container-fluid'>
 		<div class="container">
 			<div class='row'>
 				<div class='offset-lg-2 col-lg-6 offset-md-1 col-md-8'>
	 				<div class='anonymous_user_post'>
	 					<h6><img src='http://res.cloudinary.com/staybusy/image/upload/v1515144793/user_qtkgiq.png' alt='goerge wallace' class='anonymous_user_picture rounded-circle'>George Wallace</h6>
	 					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum soclis natoque penatibu et margins dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec.</p>
	 				</div>
	 				<div>
	 					<h5>Comments</h5>
	 					<div>
	 						<div class='anonymous_comment_body'>
	 							<div>
	 								<div class='anonymous_comment_header'>
	 									<h6><img src='http://res.cloudinary.com/staybusy/image/upload/v1515144793/user_qtkgiq.png' alt='maria marshall' class='anonymous_user_picture rounded-circle'>Maria Marshall</h6>
	 									<div class='anonymous_comment_date text-right'><em>7 days ago</em></div>
	 								</div>
	 							</div>
	 							<div class='anonymous_comment_text'>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum soclis natoque penatibu et margins dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec.
	 								<div class='list-inline row text-center anonymous_comment_menu'>
		 								<li class='list-inline-item col'><a href='#'><i class='fa fa-comment'> 987</i></a></li>
		 								<li class='list-inline-item col'><a href='#'><i class='fa fa-thumbs-o-up'> 3k</i></a></li>
		 								<li class='list-inline-item col'><a href='#'><i class='fa fa-thumbs-o-down'> 54</i></a></li>
		 								<li class='list-inline-item col'><a href='#'><i class='fa fa-reply'></i></a></li>
		 							</div>
	 							</div>
	 						</div>
	 						<div class='anonymous_comment_body'>
	 							<div>
	 								<div class='anonymous_comment_header'>
	 									<h6><img src='http://res.cloudinary.com/staybusy/image/upload/v1515144793/user_qtkgiq.png' alt='maria marshall' class='anonymous_user_picture rounded-circle'>Maria Marshall</h6>
	 									<div class='anonymous_comment_date text-right'><em>2 days ago</em></div>
	 								</div>
	 							</div>
	 							<div class='anonymous_comment_text'>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum soclis natoque penatibu et margins dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec.
	 								<div class='list-inline row text-center anonymous_comment_menu'>
		 								<li class='list-inline-item col'><a href='#'><i class='fa fa-comment'> 987</i></a></li>
		 								<li class='list-inline-item col'><a href='#'><i class='fa fa-thumbs-o-up'> 3k</i></a></li>
		 								<li class='list-inline-item col'><a href='#'><i class='fa fa-thumbs-o-down'> 54</i></a></li>
		 								<li class='list-inline-item col'><a href='#'><i class='fa fa-reply'></i></a></li>
		 							</div>
	 							</div>
	 						</div>
	 					</div>
	 				</div>
	 			</div>
	 			<div class='offset-lg-1 col-lg-2 anonymous_user_share'>
	 				<h6>Share</h6>
	 				<div class='row'>
	 					<div class='col-3'><img src='http://res.cloudinary.com/staybusy/image/upload/v1515144793/user_qtkgiq.png' class='anonymous_user_share_img' ></div>
	 					<div class='col-3'><img src='http://res.cloudinary.com/staybusy/image/upload/v1515144793/user_qtkgiq.png' class='anonymous_user_share_img' ></div>
	 					<div class='col-3'><img src='http://res.cloudinary.com/staybusy/image/upload/v1515144793/user_qtkgiq.png' class='anonymous_user_share_img' ></div>
	 					<div class='col-3'><img src='http://res.cloudinary.com/staybusy/image/upload/v1515144793/user_qtkgiq.png' class='anonymous_user_share_img' ></div>
	 				</div>
	 				<br />
	 				<div class='row'>
	 					<div class='col-3'><img src='http://res.cloudinary.com/staybusy/image/upload/v1515144793/user_qtkgiq.png' class='anonymous_user_share_img' ></div>
	 					<div class='col-3'><img src='http://res.cloudinary.com/staybusy/image/upload/v1515144793/user_qtkgiq.png' class='anonymous_user_share_img' ></div>
	 					<div class='col-3'><img src='http://res.cloudinary.com/staybusy/image/upload/v1515144793/user_qtkgiq.png' class='anonymous_user_share_img' ></div>
	 					<div class='col-3'><img src='http://res.cloudinary.com/staybusy/image/upload/v1515144793/user_qtkgiq.png' class='anonymous_user_share_img' ></div>
	 				</div>
	 			</div>
 			</div>
 		</div>
 	</div>
<footer class='anonymous_user'>
	<div class='container'>
		<div class='list-inline row text-center'>
			<li class='list-inline-item col'><a href="#">Privacy Policy</a></li>
			<li class='list-inline-item col'><a href="#">About KYC</a></li>
			<li class='list-inline-item col'><a href="#">Community</a></li>
			<li class='list-inline-item col'><a href="#">Join</a></li>
		</div>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>  
</body>
</html>